
body {
    background-image: url("https://cdn.pixabay.com/photo/2017/05/21/23/28/old-2332671_960_720.jpg"); 

}

.centerbox {
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
    margin-top: 5%;

}


#game-section {
    font-size: 50px;
    color: white;
    text-align: center;
    border: 7px solid rgb(25, 107, 230);
    height: 550px;
    width: 400px;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 32%; 
    
} 

#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}

#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: whitesmoke;
    color: black;
    cursor: pointer;
    border: solid 1px black;
}